@{
    var debug = Html.IsDebugMode();
    var cdn = @ViewBag.CdnUrl;
    var user = User.GetUserInfo();
}

<!DOCTYPE html>

<html lang="@ViewBag.Lang">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="@cdn/lib/font-awesome5/css/all.min.css" rel="stylesheet" />
    <link href="@cdn/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="@cdn/lib/font-roboto/dist/styles/roboto.min.css" rel="stylesheet" />
    <link href="@cdn/lib/mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="@cdn/lib/vuetify/dist/vuetify.min.css" rel="stylesheet" />
    <link href="@cdn/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <link href="@cdn/lib/apexcharts/apexcharts.min.css" rel="stylesheet" />
    <link href="@cdn/lib/components/app.css" rel="stylesheet" />

    @RenderSection("styles", required: false)

    <script src="@Url.GetUrl("Models")"></script>
    <script src="@Url.GetUrl("Enums")"></script>
    <script src="@Url.Action("CommonVariables", new { lang= ViewBag.Lang})"></script>
    <script src="@cdn/lib/components/app.js"></script>
    <script>
        var version = '@ViewBag.Version';
        var cdnUrl = '@cdn';
        var lang = '@ViewBag.Lang';
    </script>
</head>
<body>

    <div id="loadingDiv" class="loading-container">
        <div class="loading">
            <div class="lds-hourglass"></div>
        </div>
    </div>

    <div id="appDiv">
        <v-app>
            <v-system-bar app dark color="#0000c4">
                <span class="caption white--text d-none d-sm-block">
                    Hosgeldin, @(user?.UserName)
                </span>
                <v-spacer></v-spacer>
                <component-change-password></component-change-password>
                <v-divider vertical></v-divider>
                <v-btn text right v-on:click="Logout">
                    <v-icon small>mdi-logout</v-icon><span class="caption">
                        Çıkış Yap
                    </span>
                </v-btn>
            </v-system-bar><v-app-bar app dense dark color="blue-grey lighten-5">
                <v-spacer></v-spacer>
                <v-row>
                    <v-col cols="auto">
                        <v-img contain
                               max-height="40"
                               min-width="150"
                               max-width="150"
                               src="~/ui/img/votorantim-logo.png" />
                    </v-col>
                </v-row>
            </v-app-bar>
            <v-main>
                <div data-app="true" class="w-100p h-100p main">
                    @RenderBody()
                </div>
            </v-main>
            <v-footer app>
                <v-img contain
                       max-height="40"
                       src="~/ui/img/logo_footerLogos.png"></v-img>
            </v-footer>
        </v-app>
    </div>

    <script src="@cdn/lib/moment/moment-with-locales.min.js"></script>
    <script src="@cdn/lib/axios/axios.min.js"></script>
    @if (debug)
    {
        <script src="@cdn/lib/vue/dist/vue.js"></script>
    }
    else
    {
        <script src="@cdn/lib/vue/dist/vue.min.js"></script>
    }

    <script src="@cdn/lib/vuetify/dist/vuetify.min.js"></script>
    <script src="@cdn/lib/http-vue-loader/src/httpVueLoader.min.js"></script>
    <script src="@cdn/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="@cdn/lib/v-splitpanes2/dist/splitpanes.umd.min.js"></script>
    <script src="@cdn/lib/jslinq3/linq.min.js"></script>
    <script src="@cdn/lib/v-mask/dist/v-mask.min.js"></script>
    <script src="@cdn/lib/apexcharts/apexcharts.min.js"></script>
    <script src="~/ui/js/general.js"></script>

    @RenderSection("scripts", required: false);
    <script>
        App.Components['component-change-password'] = httpVueLoader("~/ui/components/component_change_password.vue" + "?v=" + version);
        App.Components['component-payment'] = httpVueLoader("~/ui/components/component_payment.vue" + "?v=" + version);

        App.Components['component-payment-demands'] = httpVueLoader("~/UI/components/component_payment_demands.vue" + "?v=" + version);
        App.Components['component-payment-history'] = httpVueLoader("~/ui/components/component_payment_history.vue" + "?v=" + version);
        App.Components['component-payment-response'] = httpVueLoader("~/ui/components/component_payment_response.vue" + "?v=" + version);

           App.Init('#appDiv', function () {

            Vue.use(VueMask.VueMaskPlugin);

        }, function (application) {
            @if (debug)
            {
                <text>application.debug = true;</text>
            }
            setTimeout(function () {
                hideLoading();
            }, 1000);
        });
    </script>
</body>
</html>
