﻿@model MC.WebApp.Module.Auth.ResetPasswordMailViewModel

<div>
    Sayın @Model.NameSurname
</div>
<div>
 @Model.OperationDate Tarihinde Şifre Sıfırlama İsteğinde Bulundunuz.<br />
    Yeni Şifreniz @Model.Password Olarak Belirlenmiştir. <br />   
</div>
<div>
    Giriş yapmak için <a href="@Model.LoginUrl">@Model.LoginUrl</a>
</div>
