﻿
@{
    ViewBag.Title = "Settings";
    Layout = "~/Themes/Default/Modules/Auth/Shared/_Layout.cshtml";
}

<v-container fluid>
    <v-row>
        <v-col>
            <mc-auth-settings>
            </mc-auth-settings>
        </v-col>
    </v-row>

    @*<v-row>
        <v-col cols="12" sm="12" md="6" lg="5" xl="4">
            <v-card tile outlined elevation="1">
                <v-card-text>
                    <v-row>
                        <v-col>
                            <v-checkbox dense
                                        label="@Html.Localize("Beni Hatırla Aktif")"
                                        color="primary"/>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-checkbox dense
                                        label="@Html.Localize("Yeni Kullanıcı Kaydı Aktif")"
                                        color="primary"/>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-checkbox dense
                                        label="@Html.Localize("Kullanıcı Adı Mail Adresi olmalıdır")"
                                        color="primary"/>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-checkbox dense
                                        label="@Html.Localize("Şifremi Unuttum Aktif")"
                                        color="primary"/>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col>
                            <span></span>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-row>
                        <v-col>
                        </v-col>
                        <v-col cols="auto">
                            <v-btn tile small outlined color="primary">
                                <v-icon left>mdi-content-save</v-icon>
                                @Html.Localize("Kaydet")
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-actions>
            </v-card>
        </v-col>
        <v-col>
            <div>Sorulacak Alanlar işaretlenenler aktif</div>
            <ul>
                <li>Adı</li>
                <li>Soyadı</li>
                <li>E-Mail : Eğer kullanıcı adı email işaretli değil ise aktif</li>
                <li>Cinsiyet</li>
                <li>Doğum Tarihi</li>
                <li>GSM</li>
                <li>İletişim Adresi</li>
            </ul>
        </v-col>
    </v-row>*@
</v-container>
